<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Karu, Paraguay</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description"> <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="/static/favicon.ico" rel="shortcut icon">
  {% load static %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate-css/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Imperial
    Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>

<body>
 <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/recetas"><img src="/static/img/logo3.png" alt="logo Karu" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        
        <ul class="nav-menu">
          <li ><a href="#hero">Inicio</a></li>
          <li><a href="#portfolio">Tradicionales del Paraguay</a></li>
          <li><a href="#about">Hablemos más</a></li>
          <li><a href="#team">Equipo Karu</a></li>         
          <li><a href="/lista_recetas">Lista Recetas</a></li>
          <li class="menu-active"><a href="/semanal">Elegi tu Menu</a></li>
          <li><a href="/registro">Registro</a></li>
          
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->
<!--==========================
  Testimonials Section
  ============================-->
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">TU MENÚ KARU</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"> Te dejamos el fruto de tu selección semanal: </p>
        </div>
      </div>

      <table>
        <tr>
          <th>Día</th>
          <th>Almuerzo</th>
          <th>Cena</th>
        </tr>
        <tr>
          <td>Lunes</td>
          <td>{{ almuerzo_lunes }}</td>
          <td>{{ cena_lunes }}</td>
        </tr>
        <tr>
          <td>Martes</td>
          <td>{{ almuerzo_martes }}</td>
          <td>{{ cena_martes }}</td>
        </tr>
        <tr>
          <td>Miércoles</td>
          <td>{{ almuerzo_miercoles }}</td>
          <td>{{ cena_miercoles }}</td>
        </tr>
        <tr>
          <td>Jueves</td>
          <td>{{ almuerzo_jueves }}</td>
          <td>{{ cena_jueves }}</td>
        </tr>
        <tr>
          <td>Viernes</td>
          <td>{{ almuerzo_viernes }}</td>
          <td>{{ cena_viernes }}</td>
        </tr>
        <tr>
          <td>Sábado</td>
          <td>{{ almuerzo_sabado }}</td>
          <td>{{ cena_sabado }}</td>
        </tr>
        <tr>
          <td>Domingo</td>
          <td>{{ almuerzo_domingo }}</td>
          <td>{{ cena_domingo }}</td>
        </tr>
      </table>

    </div>
  </section>

</body>
</html>