
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Karu, Paraguay</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link rel="shorcut icon" type="img/x-icon" src="/static/img/karupora3.png">
  
  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content=""> 	
  <meta property="og:description" content="">
  {% load static %}
  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  
  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="{% static 'favicon-96x96.png' %}" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate-css/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Imperial
    Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
  
</head>

<body>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <a href="#about"> <img class="" src="{% static 'img/logo3.png' %}" alt="Karu">
        </div>

        <h1>Amamos la comida</h1>
        <h2>Nosotros <span class="rotating">cuidamos los alimentos, amamos los alimentos, comemos más, ahorramos más</span></h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">Empecemos</a>
          <a href="#services" class="btn-services">Que hacemos?</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/recetas"><img src="/static/img/logo3.png" alt="logo Karu" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Inicio</a></li>
          <li><a href="#about">Hablemos más</a></li>
          <li><a href="#team">Equipo Karu</a></li>         
          <li><a href="/lista_recetas">Lista Recetas</a></li>
         <li><a href="/registro">Registro</a></li>
         <li><a href="/semanal">Elegi tu Menu</a></li>
          <li><a href="#portfolio">Tradicionales del Paraguay</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  About Section
  ============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12 ">
          <h3 class="section-title">Que hacemos?</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Somos un grupo amante de la rica comida de nuestro pais con ganas de alimentar mucho más</p>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">

        <div class="col-lg-6 about-img">
          <img src="/static/img/about-img.jpg" alt="">
        </div>

        <div class="col-md-6 about-content">
          <h2 class="about-title">Lo mejor que hacemos es cuidar los alimentos</h2>
          <p class="about-text">
            Dentro de un pais con tanta riquezas en paisajes, agua y gente tan formidable hemos visto que existen lados oscuros basados en información publica y accesible.
          </p>
          <p class="about-text">
            Paraguay figura en el lugar número seis entre los países con mayor porcentaje de subalimentación, según cifras de la Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO), de 2017.
          </p>recetas
          <p class="about-text">
            Comparando 2017 con 2016, el número de personas subalimentadas en la región aumentó en 400.000 personas
            y teniendo muy en cuenta que los demás paises en la lista son paises vecinos, buscamos el mejor camino a que todo sea mejor. </p>
        
          </div>
      </div>
    </div>
  </section>

  <!--==========================
  Services Section
  ============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Nuestro trabajo</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">La parte más divertida la hacemos en equipo.</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-book"></i></div>
          <h4 class="service-title"><a href="">Investigamos</a></h4>
          <p class="service-description">Nos encargamos de informarnos a modo preciso conforme sea util en el día a día. </p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-gear"></i></div>
          <h4 class="service-title"><a href="">Datos complejos</a></h4>
          <p class="service-description">Desarrollamos sistemas eficientes que te permiten ser conciente de cuando vas a comer tu comida favorita.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-child"></i></div>
          <h4 class="service-title"><a href="">Para tu felicidad.</a></h4>
          <p class="service-description">Nos gustaria verlos con la barriga llena y el corazón contento.</p>
        </div>

      </div>
    </div>
  </section>

 
  <!--==========================
  Porfolio Section
  ============================-->
  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Tradicionales del Paraguay</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Algunas de las deliciosas comidas que identifican al Paraguay</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(/static/img/portfolio-1.jpg);" href="">
            <div class="details">
              <h4>Bife koygua</h4>
              
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(/static/img/portfolio-2.jpg);" href="">
            <div class="details">
              <h4>Asado</h4>
            
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(/static/img/portfolio-3.jpeg);" href="">
            <div class="details">
              <h4>Poroto Manteca</h4>
  
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(/static/img/portfolio-4.jpeg);" href="">
            <div class="details">
              <h4>Jopara</h4>
              
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(/static/img/portfolio-5.jpg);" href="">
            <div class="details">
              <h4>Tallarin</h4>
              
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(/static/img/portfolio-6.jpg);" href="">
            <div class="details">
              <h4>Estofado de carne</h4>
              
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(/static/img/portfolio-7.jpg);" href="">
            <div class="details">
              <h4>Bife a caballo</h4>
              
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(/static/img/portfolio-8.jpg);" href="">
            <div class="details">
              <h4>Puchero</h4>
              
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>

  
  <!--==========================
  Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Equipo Karu</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="/static/img/team-1.jpg" alt=""></div>
            <h4>Liliana Estigarribia</h4>
            <span>Chief Executive Officer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="/static/img/team-1.jpg" alt=""></div>
              <h4>Steven Britez</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
          
              </div>
            </div>
          </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="/static/img/team-2.jpg" alt=""></div>
            <h4>Fabio Bulacios</h4>
            <span>Chief Future Officer</span>
            <div class="social">
 
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
 
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="/static/img/team-3.jpg" alt=""></div>
            <h4>Fatima Benitez</h4>
            <span>Product Manager</span>
            <div class="social">

              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>

            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="/static/img/team-4.jpg" alt=""></div>
            <h4>Mabel Rojas</h4>
            <span>Accountant</span>
            <div class="social">              
  
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Contact Section
  ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title"> Contactanos! </h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Estamos abiertos a ayudar y mejorar, mandanos un mensajito! </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Paraguay</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>karu_paraguay@hotmail.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+595 984 355 755</p>
            </div>

          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Mil gracias!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <divadmin/ class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Escribinos un mensaje</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Team Karu Paraguay</strong>. TODOS los derechos reservados TOODOS! (los izquierdos tambien)
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
            -->
            Designed by <a href="https://bootstrapmade.com/">Karu atyguasu</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/superfish/hoverIntent.js"></script>
  <script src="/static/lib/superfish/superfish.min.js"></script>
  <script src="/static/lib/morphext/morphext.min.js"></script>
  <script src="/static/lib/wow/wow.min.js"></script>
  <script src="/static/lib/stickyjs/sticky.js"></script>
  <script src="/static/lib/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="/static/js/custom.js"></script>

  <script src="/static/contactform/contactform.js"></script>


</body>

</html>
