
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Karu, Paraguay</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content=""> 	
  <meta property="og:description" content="">
  {% load static %}
  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  
  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800' " rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate-css/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Imperial
    Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
  
</head>

<body>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/recetas"><img src="/static/img/logo3.png" alt="logo Karu" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        
          <ul class="nav-menu">
          <li class="menu-active"><a href="#lunes">Lunes</a></li>
          <li><a href="#martes">Martes</a></li>
          <li><a href="#miercoles">Miercoles</a></li>
          <li><a href="#jueves">Jueves</a></li>
          <li><a href="#viernes">Viernes</a></li>    
          <li><a href="#sabado">Sabado</a></li>    
          <li><a href="#domingo">Domingo</a></li>         
          <li><a href="/lista_recetas">Lista Recetas</a></li>
        
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->


 <!--==========================
  SELECCION SEMANAL
  ============================-->
 
 
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12 ">
          <h3 class="section-title"> Crea una apetitosa semana </h3>
          <div class="section-title-divider"></div>
          <p class="section-description">La parte mas interesante de todo es que no vas a repetir tu menú.  </p>
       
        </div>
      </div>
      <div class="row">

            <div class="col-md-12 col-md-pull-4">
            <h4 class="section-title" id="#lunes"> Lunes</h4>
          
          </div>
        </div>
        <div class="col-md-5">
          <div class="form">
            <div id="sendmessage">Mil gracias!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">

              <div class="form-group">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Almuerzo" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Cena" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>

              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </section>


  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12 col-md-pull-4">
            <h4 class="section-title" id="martes"> Martes</h4> </div>
      </div>

        <div class="col-md-5 ">
          <div class="form">
            <div id="sendmessage">Mil gracias!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Almuerzo" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Cena" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>

              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </section>



  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12 col-md-pull-4">
            <h4 class="section-title" id="miercoles"> Miercoles</h4></div>
      </div>

        <div class="col-md-5 ">
          <div class="form">
            <div id="sendmessage">Mil gracias!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Almuerzo" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Cena" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>

              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </section>



  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12 col-md-pull-4">
            <h4 class="section-title" id="jueves">  Jueves</h4> </div>
      </div>

        <div class="col-md-5">
          <div class="form">
            <div id="sendmessage">Mil gracias!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Almuerzo" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Cena" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>

              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12 col-md-pull-4">
            <h4 class="section-title" id="viernes"> Viernes</h4></div>
      </div>

        <div class="col-md-5">
          <div class="form">
            <div id="sendmessage">Mil gracias!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Almuerzo" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Cena" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>

              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </section>


  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12 col-md-pull-4">
            <h4 class="section-title" id="sabado"> Sábado</h4></div>
      </div>

        <div class="col-md-5 ">
          <div class="form">
            <div id="sendmessage">Mil gracias!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Almuerzo" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Cena" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>

              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </section>


  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12 col-md-pull-4">
            <h4 class="section-title" id="domingo"> Domingo</h4>
      </div>

        <div class="col-md-5 ">
          <div class="form">
            <div id="sendmessage">Mil gracias!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Almuerzo" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Cena" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>

              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </section>

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Team Karu Paraguay</strong>. TODOS los derechos reservados TOODOS! (los izquierdos tambien)
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
            -->
            Designed by <a href="https://bootstrapmade.com/">Karu atyguasu</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/superfish/hoverIntent.js"></script>
  <script src="/static/lib/superfish/superfish.min.js"></script>
  <script src="/static/lib/morphext/morphext.min.js"></script>
  <script src="/static/lib/wow/wow.min.js"></script>
  <script src="/static/lib/stickyjs/sticky.js"></script>
  <script src="/static/lib/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="/static/js/custom.js"></script>

  <script src="contactform/contactform.js"></script>


</body>

</html>
