
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Karu, Paraguay</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content=""> 	
  <meta property="og:description" content="">
  {% load static %}
  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  
  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800' " rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate-css/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Imperial
    Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
  
</head>

<body>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/recetas"><img src="/static/img/logo3.png" alt="logo Karu" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        
        <ul class="nav-menu">
          <li ><a href="#hero">Inicio</a></li>
          <li><a href="#portfolio">Tradicionales del Paraguay</a></li>
          <li><a href="#about">Hablemos más</a></li>
          <li><a href="#team">Equipo Karu</a></li>         
          <li><a href="/lista_recetas">Lista Recetas</a></li>
          <li class="menu-active"><a href="/semanal">Elegi tu Menu</a></li>
          <li><a href="/registro">Registro</a></li>
          
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->


 <!--==========================
  resumen SEMANAL
  ============================-->
 
 
  <section id="services">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Resumen General</h3>
            <div class="section-title-divider"></div>
            </div>
        </div>
  
        <div class="row">
          <div class="col-md-3 service-item">
          <form method="POST" action="/impresion">
            {% csrf_token %}
            <div class="service-icon"><i class="fa fa-cutlery"></i></div>
            <h4 class="service-title"><a href="">Lunes</a></h4>
            <p class="service-description">Almuerzo: <br> <select size="1" style="width: 200px;" name="almuerzoLunes">
                {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
            </select>
          <br>
            Cena:  <br><select size="1" style="width: 200px;" name="cenaLunes">
                {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
            </select></p>  
          </div>
          <div class="col-md-3 service-item">
            <div class="service-icon"><i class="fa fa-cutlery"></i></div>
            <h4 class="service-title"><a href="">Martes</a></h4>
            <p class="service-description">Almuerzo: <br> <select size="1" style="width: 200px;" name="almuerzoMartes">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select>
        <br>
          Cena:  <br><select size="1" style="width: 200px;" name="cenaMartes">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select></p>   
              </div>
          <div class="col-md-3 service-item">
            <div class="service-icon"><i class="fa fa-cutlery"></i></div>
            <h4 class="service-title"><a href="">Miercoles</a></h4>
            <p class="service-description">Almuerzo: <br> <select size="1" style="width: 200px;" name="almuerzoMiercoles">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select>
        <br>
          Cena:  <br><select size="1" style="width: 200px;" name="cenaMiercoles">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select></p>  </div>
          <div class="col-md-3 service-item">
            <div class="service-icon"><i class="fa fa-cutlery"></i></div>
            <h4 class="service-title"><a href="">Jueves</a></h4>
            <p class="service-description">Almuerzo: <br> <select size="1" style="width: 200px;" name="almuerzoJueves">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select>
        <br>
          Cena:  <br><select size="1" style="width: 200px;" name="cenaJueves">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select></p>   </div>
  
          
  
        </div>
  
        <div class="row">
          <div class="col-md-3 service-item">
            <div class="service-icon"><i class="fa fa-cutlery"></i></div>
            <h4 class="service-title"><a href="">Viernes</a></h4>
            <p class="service-description">Almuerzo: <br> <select size="1" style="width: 200px;" name="almuerzoViernes">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select>
        <br>
          Cena:  <br><select size="1" style="width: 200px;" name="cenaViernes">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select></p>   </div>
          <div class="col-md-3 service-item">
            <div class="service-icon"><i class="fa fa-cutlery"></i></div>
            <h4 class="service-title"><a href="">Sábado</a></h4>
            <p class="service-description">Almuerzo: <br> <select size="1" style="width: 200px;" name="almuerzoSabado">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select>
        <br>
          Cena:  <br><select size="1" style="width: 200px;" name="cenaSabado">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select></p>   </div>
          <div class="col-md-3 service-item">
            <div class="service-icon"><i class="fa fa-cutlery"></i></div>
            <h4 class="service-title"><a href="">Domingo</a></h4>
            <p class="service-description">Almuerzo: <br> <select size="1" style="width: 200px;" name="almuerzoDomingo">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select>
        <br>
          Cena:  <br><select size="1" style="width: 200px;" name="cenaDomingo">
              {% for list in lista_objetos %} <option value="{{ list.nombre_receta }}">{{ list.nombre_receta }}</option> {% endfor %}
          </select></p>   </div>
          
  
        
  
        </div>
  
      </div>
      
      
    </section>
  </section>
  
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">


        <h1>GENERÁ TU LISTA COMPLETA</h1>
       <div class="actions">
          <input type="submit" class="btn-get-started">
          <a href="#services" class="btn-services"> <== ACA </a>
        </div>
      </div>
    </div></form> 
  </section>
  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Team Karu Paraguay</strong>. TODOS los derechos reservados TOODOS! (los izquierdos tambien)
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
            -->
            Designed by <a href="https://bootstrapmade.com/">Karu atyguasu</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/superfish/hoverIntent.js"></script>
  <script src="/static/lib/superfish/superfish.min.js"></script>
  <script src="/static/lib/morphext/morphext.min.js"></script>
  <script src="/static/lib/wow/wow.min.js"></script>
  <script src="/static/lib/stickyjs/sticky.js"></script>
  <script src="/static/lib/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="/static/js/custom.js"></script>

  <script src="contactform/contactform.js"></script>


</body>

</html>
